{% extends 'layout.html'%}

{% block body %}
<!-- Main -->
<section id="main" class="wrapper style1">
    <div class="container">
        <section>            
            <div class="row">
                <div class="6u">
                        {% include 'algorithms.html' %}                        
                </div>
                <div class="6u">                        
                        {% include 'upload.html' %}
                </div>
            </div>
        </section>        
    </div>        
</section>
{% endblock %}